/* GROUP CONFIG */
.rollgroups.group-config {
  width: auto !important;
  height: auto !important;
  min-width: 300px !important;
}

form.rollgroups,
form.rollgroups .inputs * {
  flex-direction: column;
}

form.rollgroups .group {
  min-width: 100px;
  max-width: 100px;
}

form.rollgroups .legend {
  min-width: 100px;
  max-width: 200px;
}

form.rollgroups .inputs {
  display: flex;
}

form.rollgroups .inputs > * > :first-child {
  background-color: darkgray;
}

.rollgroups .inputs > * > :last-child {
  border-top: 1px gray groove;
  margin: 6px 0 10px 0;
  width: 100%;
}

form.rollgroups > .inputs > * > * {
  min-height: 35px;
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

form.rollgroups .group:last-child > :first-child {
  border-radius: 0 10px 10px 0;
}

form.rollgroups .group-row input[type="checkbox"]:focus {
  outline: auto;
}

form.rollgroups .group-header input::placeholder {
  color: dimgray;
  font-style: italic;
}

form.rollgroups .group-header input {
  border-radius: 8px;
  background-color: lightgray;
}

form.rollgroups .group-header {
  border-radius: 1px;
  padding: 2px 4px;
  border-top: groove;
  border-bottom: groove;
}

form.rollgroups .damage-header {
  border-radius: 10px 0 0 10px;
  border-left: groove;
  font-weight: bold;
  border-top: groove;
  border-bottom: groove;
}

.rollgroups.config-button {
  flex: 0 0 18px;
  line-height: 24px;
  float: right;
  text-align: right;
  color: #7a7971;
}

/* WEAPON PICKER */
.rollgroups.weapon-picker {
  max-width: 500px !important;
  width: auto !important;
  height: auto !important;
}

.rollgroups.weapon-picker .weapons {
  height: auto;
  overflow: auto;
  display: flex;
  max-width: 100%;
  gap: 5px;
  scroll-behavior: smooth;
}

.rollgroups.weapon-picker .weapon {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  margin-bottom: 5px;
}

.rollgroups.weapon-picker .weapon img {
  max-height: 150px;
  max-width: 150px;
}

.rollgroups.weapon-picker button {
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  margin: 2px 0;
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
  width: 95%;
}
